<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">For over 15 years I have served companies in various roles from sales to customer service. These roles have allowed me to solve challenging problems that affect the lives of others on various levels. It is this experience that allows me to bring a more personal approach to the the development process.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Explore</h4>
          <ul class="list-unstyled">
            <%= nav_helper 'text-white', 'li' %>
            <% if logged_in?(:site_admin) %>
              <li><%= link_to "New Portfolio Item", new_portfolio_path, class: 'text-white' %></li>
            <% end %>
            <li><%= login_helper 'text-white' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-success shadow-sm">
    <div class="container d-flex justify-content-between">
      <div class="navbar-brand d-flex align-items-center">
        <strong>Antwaun Johnson</strong>
      </div> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

</header>
