<p>
  <div class="row">
    <div class="col">
      <div class="collapse" id="courses">
        <div class="card card-body">
          <h4>Comprehensive Ruby Programming</h4>
          <h6>By: Jordan Hudgens</h6>
            <p>In this course Jordan guides each learner through the ruby programming language. He covers everything from the basics such as syntanx as well as advanced topics such as algorithm development and metaprogramming.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse" id="courses">
        <div class="card card-body">
          <h4>Dissecting Ruby on Rails 5 - Become a Professional Developer</h4>
          <h6>By: Jordan Hudgens</h6>
            <p>In this course Jordan teaches each learner what is truly required to be a professional rails developer. My favorite part of this excellent course was the deep dives where Jodan provides a detailed walkthrough of the most difficult concepts in each unit.</p>
        </div>
      </div>
    </div>
  </div>
  </p>
  