<p>
  <button class="btn btn-success" 
              type="button" 
              data-toggle="collapse" 
              data-target="#jobHistory" 
              aria-expanded="false" 
              aria-controls="jobHistory"
    >
      Job History
  </button>
</p>
 
<p>
  <button class="btn btn-success" 
              type="button" 
              data-toggle="collapse" 
              data-target="#education" 
              aria-expanded="false" 
              aria-controls="education"
  >
    Education
  </button>
</p>
