<p>
  <button class="btn btn-success" 
              type="button" 
              data-toggle="collapse" 
              data-target="#courses" 
              aria-expanded="false" 
              aria-controls="courses"
    >
      Courses
  </button>
</p>
 
