<div class="app-card-container">
  <div class="card">

      <h1>About Me</h1>
      
      <hr>
      
      <div class="row">
        <div class="col-md-4">
            <%= image_tag "profile.jpg", width: 200, alt: "profile image" %>
        </div>
        <div class="col-md-8">
          <p>
            After spending more than a decade in the customer service industry, it is time for a change. Web development allows me to combine my passions for people, technology, and learning. It provides an opportunity to solve problems from a variety of angles. My experience allows me to bring a more collaborative approach to web development. Where the focus will be on making sure the project is properly aligning with the clients goals.
          </p>
        </div>
      </div>
      
  </div>
</div>