<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Location</h3>

    <p>Phoenix, AZ</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "9282776097" %></p>

    <h3>Email</h3>

    <p><a href="mailto:antwaun.l.johnson@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d850699.3777081099!2d-112.68551314489777!3d33.60415128782811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b12ed50a179cb%3A0x8c69c7f8354a1bac!2sPhoenix%2C+AZ!5e0!3m2!1sen!2sus!4v1544310780880" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
