<div class="app-card-container">
  <div class="card">

    <h1>Would you like to work together?</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <h3>Location</h3>
    
        <p>Arizona</p>
    
        <h3>Phone</h3>
    
        <p><%= number_to_phone "9282776097" %></p>
    
        <h3>Email</h3>
    
        <p ><a class="btn btn-secondary" href="mailto:" "antwaun.l.johnson@gmail.com">Email me</a></p>
      </div>
    
      <div class="col-md-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381003.625963169!2d-114.1789620954825!3d34.152444683862726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b08ebcb4c186b%3A0x423927b17fc1cd71!2sArizona!5e0!3m2!1sen!2sus!4v1554758842861!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      
      
    </div>
 </div>
</div>
