<main role="main" class="inner cover">
  <h1 class="cover-heading">Live  Learn  Inspire</h1>
  <p class="lead">“Anyone who stops learning is old, whether at twenty or eighty. Anyone who keeps learning stays young.” 
<em>― Henry Ford</em></p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
