<main role="main" class="inner cover">
  <h1 class="cover-heading">Hi, I'm Antwaun!</h1>
  <p class="lead">A fullstack developer passionate about the growth of your brand and business</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
