<main role="main" class="inner cover">
  <h1 class="cover-heading">Greetings</h1>
  <p class="lead">Please take a look around</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
